*::-webkit-input-placeholder {
	color: rgba(71, 71, 71, 0.7);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgba(71, 71, 71, 0.7);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgba(71, 71, 71, 0.7);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: rgba(71, 71, 71, 0.7);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	width: 100%;
}

.hidden {
	display: none;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-color: rgba(17, 17, 17, 0.5);
	background-image: url(../img/header-fon_.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}
.news-even {
	background-color: rgb(246, 246, 246);
}
h1, h2 {
	font-family: 'Fjalla One', sans-serif;
}
.header__wrapper {
	justify-content: space-around;
	height: 60px;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header__logo {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color: #fff;
	padding-left: 30px;
	line-height: 60px;
}
.slicknav_menu {
	display: none;
}
.slicknav_menu {
	background: #007aff;
}
.slicknav_nav {
	font-size: 18px;
}
nav ul {
	text-align: right;
	margin-right: 30px;
}
nav ul li {
	display: inline-block;
	margin-right: 30px;
}
nav ul li a {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}
nav ul li:hover a,
nav ul li a.active {
	color: #C19059;
	text-decoration: none;
}
.top_mnu {
	line-height: 60px;
}
.header__title {
	font-size: 60px;
	padding-bottom: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	padding-top: 135px;
}
.header__contacts {
	padding-bottom: 80px;
}
.header__contacts__button {
	font-size: 16px;
	text-decoration: none;
	background-color: rgb(40, 56, 120);
	padding: 7px 30px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 150px;
	height: 45px;
	line-height: 35px;
	margin: 0 auto;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}
.header__contacts__button:hover {
	color: #fff;
	text-decoration: none;
}
.news {
	padding: 30px;
	position: relative;
}
.news__header {
	text-transform: uppercase;
	text-align: center;
	font-size: 43px;
	color: rgb(40, 56, 120);
	margin-bottom: 10px;
	padding-top: 30px;
}
.news__carousel__date {
	text-align: center;
}
.news__carousel__img {
	width: 570px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.news-car {
	border: 1px solid rgb(218, 218, 218);
	padding: 10px 10px;
	margin: 0 110px;
}
.news__wrapper {
	margin: 0 auto;
}
.prev_button,
.next_button {
	cursor: pointer;
}
.owl-pagination {
	text-align: center;
}
.owl-page {
	width: 10px;
	height: 10px;
	border: 1px solid #777;
	display: inline-block;
	background: rgba(255, 255, 255, 0.44);;
	margin: 10px;
	border-radius: 5px;
}
.owl-page.active {
	background: #007aff;
}
.prev_button {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin: 0;
	display: block;
	// display: none;
	position: absolute;
	top: 38%;
	left: 30px;
}
.next_button {
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	margin: 0;
	display: block;
	// display: none;
	position: absolute;
	top: 38%;
	right: 30px;
}
.about-us {
	background-color: rgb(246, 246, 246);
	padding: 30px;
}
.about-us__wrapper {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}
.about-us__title {
	font-size: 43px;
	color: rgb(40, 56, 120);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
}
.about-us__items__item__title {
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding-top: 110px;
	margin-bottom: 0;
	padding-bottom: 15px;
}
.about-us__items__item {
	width: 400px;
	height: 400px;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;

}
.about-us__items__item_wrapper {
	background-color: rgba(17, 17, 17, 0.5);
	height: 400px;
}
.about-us__items__item__item1 {
	background-image: url(../img/about1.jpg);

}
.about-us__items__item__item2 {
	background-image: url(../img/about2.jpg);
}
.about-us__items__item__item3 {
	background-image: url(../img/about3.jpg);

}
.about-us__items__item__text {
	color: #fff;
	padding: 0 20px 10px 20px;
	line-height: 1.6;
}
.underline {
	text-align: center;
	width: 50px;
	height: 1px;
	border: 1px solid rgb(218, 218, 218);
	background-color: rgb(218, 218, 218);
	margin: 0 auto;
	margin-bottom: 20px;
}
.subscribe__title {
	font-size: 31px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
}
.subscribe__text {
	text-align: center;
}
.subscribe__form {
	margin: 0 auto;
	max-width: 660px;
	margin-bottom: 60px;
}
.subscribe__email {
	width: 500px;
	height: 50px;
	border: 1px solid rgba(71, 71, 71, 0.7);
	border-radius: 5px;
	text-indent: 10px;
	font-size: 16px;
}
.subscribe_submit {
	height: 54px;
	background-color: rgb(40, 56, 120);
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	padding: 0 30px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}
.contact-us {
	background-color: rgb(246, 246, 246);
}
.contact-us__header {
	font-size: 43px;
	color: rgb(40, 56, 120);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 50px;
}
.contact-us__text {
	text-align: center;
	font-size: 22px;
	padding-top: 30px;
}
.contact-us__name,
.contact-us__email {
	width: 700px;
	height: 50px;
	margin: 0 auto;
	display: block;
	border: 1px solid rgba(71, 71, 71, 0.7);
	border-radius: 5px;
	text-indent: 10px;
	font-size: 16px;
	margin-bottom: 20px;
}
.contact-us__message {
	width: 700px;
	height: 200px;
	display: block;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid rgba(71, 71, 71, 0.7);
}
.contact-us__submit {
	display: block;
	width: 125px;
	height: 50px;
	margin: 0 auto;
	background-color: rgb(40, 56, 120);
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}
.contact-us__company {
	text-align: center;
	font-size: 22px;
	color: rgb(21, 21, 21);
	margin-bottom: 20px;
	margin-top: 60px;
}
.contact-us__address {
	text-align: center;
	font-size: 16px;
	padding-bottom: 50px;
}
.footer__text {
	text-align: center;
	font-size: 16px;
}